{
  "plugins": [
    "react"
  ],
  "extends": [
    "standard",
    "plugin:react/recommended"
  ],
  "rules": {
    "comma-dangle": ["error", "always-multiline"],
    "arrow-parens": ["error", "as-needed"]
  }
}
